nav{
    border: .1em solid #ccc;
    border-width: .1em 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    overflow: hidden;
    background-color: #333;
}

nav li{
    display:inline;
}

nav a{
    display:inline-block;
    color: white;
    padding:1em;
    text-decoration: none;
}

nav a:hover {
	background-color: #D5DCE6;
	color: #333;
}

@import url(<link href="https://fonts.googleapis.com/css?family=DM+Sans|Philosopher|Sawarabi+Mincho&display=swap" rel="stylesheet">)

footer {
	background-color: #333
}

body {
	font-family: 'Philosopher', Helvetica, sans-serif;
	background-color: #D5DCE6;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-top: .6em;
}

p {
	color: black;
	line-height: 1.7;
	margin-bottom: 1em;

}

h1 {
	text-align: center;
	line-height: 2;
	font: 222%;
	font-weight: 999;
	margin-bottom: 1em;
	margin-top: .3em;
}

h1,h2,h3,h4,h5,h6 {
	color: #333;
	line-height: 1.7;
	margin-bottom: 1em;
	margin-top: .3em;
}

      video {
        border-radius: 1.5em;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.responsive {
	width: 80%;
	height: auto;
}

.h1lies {
        font-weight: bolder;
        font-size: xx-large;
        text-shadow: .1em .1em green;
        margin-bottom: .3em;
        margin-top: .2em;
        margin-left: 1em;
        font-family: 'Roboto Slab', Arial, serif;
      }
.h3plies {
        margin-bottom: .3em;
        margin-top: .2em;
        margin-left: 1em;
        font-family: 'Roboto Slab', Arial, serif;
      }