@import url("https://fonts.googleapis.com/css?family=Grenze|Merriweather|Roboto+Slab&display=swap"rel="stylesheet");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap"rel="stylesheet");
@import url("https://fonts.googleapis.com/css?family=DM+Sans|Philosopher|Sawarabi+Mincho&display=swap"rel="stylesheet");

nav {
  border: 0.1em solid #ccc;
  border-width: 0.1em 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: #333;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  color: white;
  padding: 1em;
  text-decoration: none;
  transition: transform 1s linear;
}

nav a:hover {
  background-color: #D5DCE6;
  color: #333;
  transform: scaleX(1.04);
}

body {
  font-family: "Philosopher", Helvetica, sans-serif;
  background-color: #D5DCE6;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 0.6em;
}

p {
  color: black;
  line-height: 1.7;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
  line-height: 2;
  font: 222%;
  font-weight: bolder;
  margin-bottom: 1em;
  margin-top: 0.3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  line-height: 1.7;
  margin-bottom: 1em;
  margin-top: 0.3em;
}

footer {
  background-color: #333;
}

em {
  font-style: italic;
}

video {
  border-radius: 1.5em;
  border: 0.1em solid white;
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.responsive {
  width: 80%;
  height: auto;
}
.small {
  background-color: red;
}
.h1lies {
  font-weight: bolder;
  font-size: large;
  color: green;
  text-shadow: 0.1em 0.1em white;
  margin-bottom: 0.3em;
  margin-top: 0.2em;
  margin-left: 1.3em;
  font-family: "Roboto Slab", Arial, serif;
}

.h3plies {
  margin-bottom: 0.3em;
  margin-top: 0.2em;
  margin-left: 1em;
  font-family: "Roboto Slab", Arial, serif;
  color: white;
}

.fluid {
  margin-left: 3%;
  margin-right: 3%;
}

.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.indeximage {
  border-radius: 1.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.1em solid green;
  transition: 2s;
}

.indeximage:hover {
  transform: scale(0.8);
}

.indexh1 {
  margin-bottom: 1em;
  margin-top: 0.7em;
  font: 222% verdana, sans-serif;
  font-weight: bolder;
}

.indexh2-6 {
  margin-left: 1.6em;
  margin-bottom: 0.5em;
  margin-top: 0.7em;
  font-weight: bold;
}

.house {
  border: 0.5em solid green;
  border-radius: 0.5em;
  padding: 0.1em;
  float: left;
  transition: 2s ease-in-out;
}

.house:hover {
  transform: rotate(360deg);
}

div.a {
  text-align: center;
}

div.b {
  display: block;
  width: auto;
  border: 0.5em solid green;
  padding: 0.8em;
  margin: auto;
  text-align: left;
}

img.c {
  border: 0;
  width: auto;
  height: 3em;
  vertical-align: middle;
}

h1.aa {
  font-family: "Permanent Marker", cursive, serif;
  font-size: 300%;
}

h3.bb {
  margin-bottom: 0.01em;
}

h5.cc {
  margin-bottom: 1em;
}

#space {
  color: #D5DCE6;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.gods {
  width: auto;
  border: 0.2em solid black;
  padding: 0.2em;
  border-radius: 0.6em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*small style*/
@media screen and (min-width: 650px) {
  video {
    border-radius: 1.5em;
    border: 0.1em solid black;
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  .h3plies {
    margin-bottom: 0.3em;
    margin-top: 0.2em;
    margin-left: 1em;
    font-family: "Roboto Slab", Arial, serif;
    color: #333;
  }
  .h1lies {
    font-weight: bolder;
    font-size: xx-large;
    text-shadow: 0.1em 0.1em green;
    margin-bottom: 0.3em;
    margin-top: 0.2em;
    margin-left: 1em;
    font-family: "Roboto Slab", Arial, serif;
    color: #333;
  }
  .small {
    background-color: #D5DCE6;
  }
}

/*map specific*/
#mapbox {
  margin: 1em;
  padding: 1.3em;
  background-color: green;
}

#googleMap {
  width: 100%;
  height: 400px;
}

/* begin slideshow */

/*
essential styles:
these make the slideshow work
*/
#slides{
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}


.controls{
    display: none;
}


/*
non-essential styles:
just for appearance; change whatever you want
*/

.slide{
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
  
  background-size: cover;
}

/*images*/
.slide:nth-of-type(1){
    background-color: red;
  background-image: url('https://raw.githubusercontent.com/Scott-W-IIT/project-3/master/images/joshua2.jpg');
}

.slide:nth-of-type(2){
    background-color: orange;
  background-image: url('https://raw.githubusercontent.com/Scott-W-IIT/project-3/master/images/joshua3.jpg');
}

.slide:nth-of-type(3){
    background-color: green;
  background-image: url('https://raw.githubusercontent.com/Scott-W-IIT/project-3/master/images/joshua1.jpg');
}

.controls{
  background: #333;
  color: #fff;
  border: none;
  padding: 20px 0px;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid #fff;
  margin: 10px 0px 0px 10px;
  width: 70px;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: #333;
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
}
