
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #D5DCE6;
	color: #333;
}

body {
	background-color: #D5DCE6;
	margin-left: .5em;
	margin-right: .5em;
	margin-bottom: .25em;
	margin-top: .3em;
}

footer {
	background-color: #333
}

p {
	color: black;
}

h1 {
	color: #333;
	text-align: center;
}

img {
	border: .5em; 
	border-color: white;
	padding: 1em;
	margin: .9em;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.responsive {
	width: 80%;
	height: auto;
}
