nav {
  background-color: orange;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
}

body {background-color: #D5DCE6;
}

p {color: ;
}

h1 {color: red;
}

img {position: center;
}
