
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a: hover {
	background-color: #D5DCE6;
	color: #333;
}

body {
	background-color: #D5DCE6;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:2px;
	margin-top:3px;
}

p {
	color: black;
}

h1 {
	color: #333;
	text-align: center;
}

img {
	border: 8px; 
	border-color: white;
	padding: 15px;
	margin: 10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.responsive {
	width: 100%;
	height: auto;
}
